.hide {
	display: none;
}

header {
	padding: 1.5rem;
}

.app-bar {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}

.app-bar .app-name {
	margin-right: auto;
}

main {
	display: grid;
	grid-template-rows: 1fr 7rem 1fr;
	overflow-x: hidden;
}

main>section {
	display: grid;
	grid-template-rows: max-content 1fr;
	padding-block: 1rem 0;
	border-radius: 10px;
}

main .top {
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	padding-top: 0;
	font-size: .9rem;
}

main .wrapper {
	display: grid;
	grid-auto-flow: column;
	grid-auto-rows: minmax(auto, 150px);
	overflow-x: auto;
	padding: .5rem 1.5rem;
	gap: 1rem;
	overscroll-behavior-inline: contain;
	scroll-snap-type: inline mandatory;
	scroll-padding-inline: 1.5rem;
}

main .wrapper > * {
	scroll-snap-align: start;
}

main .new-sec .wrapper {
	grid-auto-columns: 7rem;
}


body.loading .wrapper div {
	grid-auto-columns: 7rem;
}

@media screen and (min-width: 600px) {
	main {
		grid-template-rows: 3fr 8rem 2fr;
	}

	main .new-sec .wrapper {
		/*
		grid-auto-rows: 100px;
		grid-auto-flow: column;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
		max-height: 100%;*/
		overflow-y: hidden;
	}
	
}


main .new-sec .wrapper:has(.loaded) {}

main .new-sec .wrapper:has(.loaded) .loader {
	display: none;
}

main .category-sec .wrapper {
	grid-auto-columns: 9rem;
	padding-block: 0;
}

main .trend-sec .wrapper {
	grid-auto-columns: 10rem;
}

main .wrapper div {
	border-radius: 1.4rem;
	overflow: hidden;
	position: relative;
}

body.loaded .wrapper div {
	display: grid;
	place-items: center;
}

body.loaded .wrapper .spinner,
main .wrapper:has(.loaded) #wall-bg {
	display: none;
}

@keyframes load {

	0%,
	100% {
		opacity: 0.08;
	}

	35%,
	75% {
		opacity: 0.05;
	}
}

.expand {
	translate: 50%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
	height: calc(50% - 4rem);
	width: 100%;
	z-index: 1;
}

.wrapper div img:not(.spinner) {
	width: 100%;
	height: 100%;
	position: absolute;
}

@keyframes opacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

body.loaded div #wall {
	opacity: 1;
	animation: none;
}

body.loaded .wrapper img:not(.spinner) {
	scale: 1;
	border-radius: inherit;
}


#app footer {
	position: fixed;
	bottom: 0;

	width: 100%;
	max-width: 700px;
	display: grid;
	background: var(--bg-body);
	/*  border: #0024 solid; */
}

#app footer section[role=navigation] {
	display: grid;
	gap: 1rem;
	grid-auto-flow: column;
	grid-template-rows: 3rem;

	padding: .5rem 1.5rem;
}

#app button {
	border: 0;
	background: transparent;
	border-radius: 2rem;
}